# User keyword query

    Input 1: user query keywords
    Input 2: condition--and, or

    Output: frequency of the keywords
    (1): How many times are the keywords mentioned? 這個關鍵字被提到多少次?
    (2): How many pieces of news are the keywords mentioned in? 有幾篇新聞提到這個關鍵字?

    First news: ['肺炎','疫情', '肺炎']
    Second news:['陳時中','指揮中心','肺炎','陳時中']

    肺炎: 
    (1) '肺炎' are mentioned three times.  ==> frequency is 3
    (2) Two pieces of news mention '肺炎'. ==> occurence is 2

    陳時中: 
    (1) '陳時中' are mentioned two times.  ==> frequency is 2
    (2) One pieces of news mention '陳時中'. ==> occurence is 1

# Delete hh:mm of the date column

In [1]:
import pandas as pd
df = pd.read_csv('./now_news_preprocessed.csv',sep='|')

In [2]:
df.head(1)

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
0,column/_20220503_1,2022-05-03 23:10,焦點,\r\n,一名陳姓男子今天晚間騎機車行經花蓮壽豐台11丙線11公里處南下車道時，疑因下雨視線不良撞上馬...,0.0,"['疑因下雨視線不良撞上在馬路行走的牛隻', '花蓮縣消防局救護車獲報到場時', '疑因下雨...","[('牛隻', 4), ('男子', 3), ('飼主', 3), ('機車', 2), (...","['一', '名', '陳姓', '男子', '今天', '晚間', '騎', '機車', ...","['陳姓', '男子', '機車', '花蓮', '壽豐台', '南下', '車道', '疑...","[NerToken(word='陳', ner='PERSON', idx=(2, 3)),...","[('一', 'Neu'), ('名', 'Nf'), ('陳姓', 'Nb'), ('男子...",https://www.nownews.com/news/5793893,https://media.nownews.com/nn_media/thumbnail/2...

In [3]:
df.shape

(3741, 14)

### Conver date format

    The format of news date contains "hour:minute"  information in this csv file.
    We need only the date informtion. So we must remove the "hour:minute" in advance.

    We should have done it in the crawler tutorial. 
    
    # get date and convert it with the format of  "2022-04-20"
    date_and_time = item.find('div', {'class':"date"}).text
    dt = datetime.strptime(date_and_time, '%Y/%m/%d %H:%M')
    # conver to the format of  "2022-04-20"
    news_date_str = dt.strftime("%Y-%m-%d") # keep only date, remove the time.

In [4]:
from datetime import datetime

In [5]:
df.date[0]

'2022-05-03 23:10'

In [9]:
# Convert to new format without hour and minute infomation
dt = datetime.strptime('2022-05-03 23:10', '%Y-%m-%d %H:%M')

In [10]:
dt

datetime.datetime(2022, 5, 3, 23, 10)

In [11]:
dt.strftime('%Y-%m-%d')

'2022-05-03'

In [12]:
dt.strptime('2022-05-03 23:10','%Y-%m-%d %H:%M').strftime('%Y-%m-%d')

'2022-05-03'

In [13]:
[datetime.strptime(date,'%Y-%m-%d %H:%M').strftime('%Y-%m-%d') for date in df.date]

ValueError: time data 'date' does not match format '%Y-%m-%d %H:%M'

In [13]:
# replace date column with new date
df.date = [datetime.strptime(date,'%Y-%m-%d %H:%M').strftime('%Y-%m-%d') for date in df.date]

ValueError: time data 'date' does not match format '%Y-%m-%d %H:%M'

In [ ]:
df.head(2)

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
0,aipl_20220314_1,2022-03-14,政治,外交部援烏物資已募4000箱 吳釗燮感謝捐贈民眾,民眾捐贈烏克蘭的愛心物資持續湧入外交部，截至今天傍晚累計已收到約4000箱，外交部長吳釗燮中...,0.01,"['外交部除感謝熱心民眾踴躍捐贈援助烏克蘭人道物資外', '親赴外交部捐贈物資的民眾約173...","[('外交部', 14), ('民眾', 7), ('物資', 7), ('烏克蘭', 5)...","['民眾', '捐贈', '烏克蘭', '的', '愛心', '物資', '持續', '湧入...","['民眾', '烏克蘭', '愛心', '物資', '外交部', '收到', '外交部長',...","[NerToken(word='烏克蘭', ner='GPE', idx=(4, 7)), ...","[('民眾', 'Na'), ('捐贈', 'VD'), ('烏克蘭', 'Nc'), ('...",https://www.cna.com.tw/news/aipl/202203140364....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...
1,aipl_20220314_2,2022-03-14,政治,幻象飛官獲救 空軍：掌握跳傘時機做出好示範,空軍一架幻象戰機今天失事，飛行員成功跳傘獲救，外界關注跳傘時機點。空軍表示，此次跳傘高度於幻...,0.00,"['幻象機的建議跳傘高度是2000呎', '由於此次幻象飛官成功彈射', '外界關注跳傘時機...","[('戰機', 11), ('彈射', 9), ('高度', 7), ('飛官', 7), ...","['空軍', '一', '架', '幻象', '戰機', '今天', '失事', '，', ...","['空軍', '幻象', '戰機', '飛行員', '跳傘', '獲救', '時機點', '...","[NerToken(word='今天', ner='DATE', idx=(8, 10)),...","[('空軍', 'Nc'), ('一', 'Neu'), ('架', 'Nf'), ('幻象...",https://www.cna.com.tw/news/aipl/202203140354....,NaN

In [ ]:
# Save the modified dataset for future usage
df.to_csv("./cna_news_200_preprocessed.csv",sep='|', index=False)

# Step 0: Load preprocessed news dataset

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

In [ ]:
df = pd.read_csv('./cna_news_200_preprocessed.csv',sep='|')

In [ ]:
df.head(1)

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
0,aipl_20220314_1,2022-03-14,政治,外交部援烏物資已募4000箱 吳釗燮感謝捐贈民眾,民眾捐贈烏克蘭的愛心物資持續湧入外交部，截至今天傍晚累計已收到約4000箱，外交部長吳釗燮中...,0.01,"['外交部除感謝熱心民眾踴躍捐贈援助烏克蘭人道物資外', '親赴外交部捐贈物資的民眾約173...","[('外交部', 14), ('民眾', 7), ('物資', 7), ('烏克蘭', 5)...","['民眾', '捐贈', '烏克蘭', '的', '愛心', '物資', '持續', '湧入...","['民眾', '烏克蘭', '愛心', '物資', '外交部', '收到', '外交部長',...","[NerToken(word='烏克蘭', ner='GPE', idx=(4, 7)), ...","[('民眾', 'Na'), ('捐贈', 'VD'), ('烏克蘭', 'Nc'), ('...",https://www.cna.com.tw/news/aipl/202203140364....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...

# Step 1: Select news with user input keywords, category, duration

### (1)Filter data using token_v2

In [ ]:
# Searching keywords from "token_v2" column
def filter_dataFrame(user_keywords, cond, cate, weeks):

    # end date: the date of the latest record of news
    end_date = df.date.max()
    
    # start date
    start_date = (datetime.strptime(end_date, '%Y-%m-%d').date() - timedelta(weeks=weeks)).strftime('%Y-%m-%d')

    # proceed filtering
    if (cate == "全部") & (cond == 'and'):
        query_df = df[(df.date >= start_date) & (df.date <= end_date) 
            & df.tokens_v2.apply(lambda text: all((qk in text) for qk in user_keywords))]
    elif (cate == "全部") & (cond == 'or'):
        query_df = df[(df['date'] >= start_date) & (df['date'] <= end_date) 
            & df.tokens_v2.apply(lambda text: any((qk in text) for qk in user_keywords))]
    elif (cond == 'and'):
        query_df = df[(df.category == cate) 
            & (df.date >= start_date) & (df.date <= end_date) 
            & df.tokens_v2.apply(lambda text: all((qk in text) for qk in user_keywords))]
    elif (cond == 'or'):
        query_df = df[(df.category == cate) 
            & (df['date'] >= start_date) & (df['date'] <= end_date) 
            & df.tokens_v2.apply(lambda text: any((qk in text) for qk in user_keywords))]
    return query_df

### (2)Search keywords from "content" column

In [ ]:
# Searching keywords from "content" column
# Here this function uses df.content column, while filter_dataFrame() uses df.tokens_v2
def filter_dataFrame_fullText(user_keywords, cond, cate, weeks):

    # end date: the date of the latest record of news
    end_date = df.date.max()
    
    # start date
    start_date = (datetime.strptime(end_date, '%Y-%m-%d').date() - timedelta(weeks=weeks)).strftime('%Y-%m-%d')

    # proceed filtering
    if (cate == "全部") & (cond == 'and'):
        df_query = df[(df.date >= start_date) & (df.date <= end_date) 
            & df.content.apply(lambda text: all((qk in text) for qk in user_keywords))]
    elif (cate == "全部") & (cond == 'or'):
        df_query = df[(df['date'] >= start_date) & (df['date'] <= end_date) 
            & df.content.apply(lambda text: any((qk in text) for qk in user_keywords))]
    elif (cond == 'and'):
        df_query = df[(df.category == cate) 
            & (df.date >= start_date) & (df.date <= end_date) 
            & df.content.apply(lambda text: all((qk in text) for qk in user_keywords))]
    elif (cond == 'or'):
        df_query = df[(df.category == cate) 
            & (df['date'] >= start_date) & (df['date'] <= end_date) 
            & df.content.apply(lambda text: any((qk in text) for qk in user_keywords))]

    return df_query

In [ ]:
user_keywords=['烏克蘭','俄羅斯']
cond='and'
cate='全部'
weeks=4
df_query = filter_dataFrame(user_keywords, cond, cate, weeks)
len(df_query)

17

In [ ]:
user_keywords=['烏克蘭','俄羅斯']
cond='and'
cate='國際'
weeks=4
df_query = filter_dataFrame(user_keywords, cond, cate, weeks)
len(df_query)

8

In [ ]:
user_keywords=['烏克蘭','俄羅斯']
cond='or'
cate='政治'
weeks=4
df_query = filter_dataFrame(user_keywords, cond, cate, weeks)
len(df_query)

3

In [ ]:
df_query.head(1)

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
0,aipl_20220314_1,2022-03-14,政治,外交部援烏物資已募4000箱 吳釗燮感謝捐贈民眾,民眾捐贈烏克蘭的愛心物資持續湧入外交部，截至今天傍晚累計已收到約4000箱，外交部長吳釗燮中...,0.01,"['外交部除感謝熱心民眾踴躍捐贈援助烏克蘭人道物資外', '親赴外交部捐贈物資的民眾約173...","[('外交部', 14), ('民眾', 7), ('物資', 7), ('烏克蘭', 5)...","['民眾', '捐贈', '烏克蘭', '的', '愛心', '物資', '持續', '湧入...","['民眾', '烏克蘭', '愛心', '物資', '外交部', '收到', '外交部長',...","[NerToken(word='烏克蘭', ner='GPE', idx=(4, 7)), ...","[('民眾', 'Na'), ('捐贈', 'VD'), ('烏克蘭', 'Nc'), ('...",https://www.cna.com.tw/news/aipl/202203140364....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...

# Step 2: calculate frequency and occurence

In [ ]:
# For the query_df, count the occurence and frequency for each category.

# (1) cate_occurence={}  被多少篇新聞報導 How many pieces of news contain the keywords.
# (2) cate_freq={}       被提到多少次? How many times are the keywords mentioned


news_categories = ['政治', '科技', '運動', '證卷', '產經', '娛樂', '生活', '國際', '社會', '文化', '兩岸', '全部']

def count_keyword(query_df, user_keywords):
    cate_occurence={}
    cate_freq={}

    for cate in news_categories:
        cate_occurence[cate]=0
        cate_freq[cate]=0

    for idx, row in query_df.iterrows():
        # count number of news
        cate_occurence[row.category] += 1
        cate_occurence['全部'] += 1
        
        # count user keyword frequency by checking every word in tokens_v2
        tokens = eval(row.tokens_v2)
        freq =  len([word for word in tokens if (word in user_keywords)])
        cate_freq[row.category] += freq
        cate_freq['全部'] += freq
        
    return cate_freq, cate_occurence

In [ ]:
user_keywords=['烏克蘭','俄羅斯']
cond='or'
cate='全部'
weeks=4
# Step 1 fitering data
df_query = filter_dataFrame(user_keywords, cond, cate, weeks)
len(df_query)

# Step 2: calculating frequency and occurence
count_keyword(df_query, user_keywords)

({'政治': 13,
  '科技': 21,
  '運動': 3,
  '證卷': 2,
  '產經': 15,
  '娛樂': 4,
  '生活': 0,
  '國際': 46,
  '社會': 0,
  '文化': 14,
  '兩岸': 24,
  '全部': 142},
 {'政治': 3,
  '科技': 2,
  '運動': 1,
  '證卷': 2,
  '產經': 3,
  '娛樂': 2,
  '生活': 0,
  '國際': 8,
  '社會': 0,
  '文化': 3,
  '兩岸': 2,
  '全部': 26})

# Demonstrate step by step

How many news are related to "烏克蘭" ?

    How many pieces of news mentioned "烏克蘭"
    How many pieces of news are related to "烏克蘭"?

    You can calculate and get the answer from the following fields: tokens, tokens_v2, or content. (Get very similar results)

    We use "tokens_v2" because it contains only some important keywords which were selected in the pre-process step.

    
A flexible appraoch for And OR condiction

        User all()  any()
        df = pd.DataFrame({'col': ["apple is delicious",
                                "banana is delicious",
                                "apple and banana both are delicious"]})

        targets = ['apple', 'banana']

        # Any word from `targets` are present in sentence.
        >>> df.col.apply(lambda sentence: any(word in sentence for word in targets))
        0    True
        1    True
        2    True
        Name: col, dtype: bool

        # All words from `targets` are present in sentence.
        >>> df.col.apply(lambda sentence: all(word in sentence for word in targets))
        0    False
        1    False
        2     True
        Name: col, dtype: bool

## and &, or |

In [ ]:
True & True

True

In [ ]:
True & False

False

In [ ]:
True | True

True

In [ ]:
True | False

True

## "in" is very powerful in Python!

#### in a string

In [ ]:
text = '武漢烏克蘭疫情全球延燒，國防部2月針對29個疫情高風險國家地區勸阻官兵前往（包括過境）。'

In [ ]:
'台灣' in text

False

In [ ]:
'烏克蘭' in text

True

In [ ]:
# & and
('台灣' in text)  & ('烏克蘭' in text)

False

In [ ]:
# & and
('台灣' in text) and ('烏克蘭' in text)

False

In [ ]:
('台灣' in text)  | ('烏克蘭' in text)

True

In [ ]:
('台灣' in text)  or ('烏克蘭' in text)

True

In [ ]:
# This is also a string.
text = "['武漢', '烏克蘭', '疫情', '全球', '延燒', '國防部', '疫情', '高風險', '國家', '地區', '官兵', '過境', '國防部', '政策', '全球', '國家', '地區', '轄下', '單位']"

In [ ]:
'烏克蘭' in text

True

In [ ]:
'台灣' in text

False

In [ ]:
('台灣' in text)  & ('烏克蘭' in text)

False

In [ ]:
('台灣' in text)  | ('烏克蘭' in text)

True

#### in a list

In [ ]:
user_keyword=['烏克蘭','台灣']
'烏克蘭' in user_keyword

True

In [ ]:
# Check out the first news
df.content[0]

'民眾捐贈烏克蘭的愛心物資持續湧入外交部，截至今天傍晚累計已收到約4000箱，外交部長吳釗燮中午親自到現場為協助整理物資的志工加油，並對捐贈民眾表達感謝。外交部晚間發布新聞稿指出，外交部從7日開始向民間募集捐贈烏克蘭難民的物資，獲得熱烈響應，親赴外交部捐贈物資的民眾約1730人，加上郵寄包裹，目前約已收到4000箱物資，品項以醫療口罩、毛毯、女性衛生用品、尿片、餅乾等為主，募集活動將持續到18日。外交部表示，為了感謝捐贈民眾，與在現場辛苦分類整理的志工、外交部人員，吳釗燮今天中午特別前往外交部西側門地下停車場視察，吳釗燮與在場的慈濟等民間慈善組織志工，以及其他自發到場幫忙的善心人士親切互動，對於也有烏克蘭旅台人士自願擔任義工在現場協助，吳釗燮特別致意慰問。根據外交部提供的照片，到場幫忙的烏克蘭志工是極為關心家鄉情勢的網紅佳娜。外交部再度提醒有意捐贈物資的民眾，捐贈物品請依照外交部網站所公布的清單為限，切勿捐贈或郵寄二手物品或衣物。送到外交部的捐贈物品務必為全新物品、未拆封包裝、有效期至少6個月以上，以免造成整理及後續轉運捐贈的困擾。募集截止時間是3月18日下午5時以前，民眾可以用面送或郵寄清單所列的20類物品及 14 類藥品至外交部。外交部除感謝熱心民眾踴躍捐贈援助烏克蘭人道物資外，也感謝許多志工義務幫忙、貢獻己力。外交部對各界人士奉獻時間與精神投入國際人道援助，表達最高的敬意。'

In [ ]:
qk = '烏克蘭'
text = df.content[0]
qk in text

True

In [ ]:
qk = '外交部'
text = df.content[0]
qk in text

True

In [ ]:
qk = '台灣'
text = df.content[0]
qk in text

False

In [ ]:
text = df.content[0]
('烏克蘭' in text) & ('外交部' in text )

True

### Another "in" in Python. It is used for "for" loop.

In [ ]:
user_keywords = ['烏克蘭','外交部']
text = df.content[0]
[(qk in text) for qk in user_keywords]

[True, True]

In [ ]:
user_keywords = ['烏克蘭','台灣']
text = df.content[0]
[(qk in text) for qk in user_keywords]

[True, False]

### all() any() 

    How to perform logical opertion with several conditions? 如何針對很多項去做邏輯運算?

    all(): perform "and" logical opertion 
    any(): perform "or" logical opertion

In [ ]:
all( [True, True] )

True

In [ ]:
any( [True, True] )

True

In [ ]:
all( [True, False] )

False

In [ ]:
any( [True, False] )

True

In [ ]:
user_keywords = ['烏克蘭','國防部']
[word for word in user_keywords]

['烏克蘭', '國防部']

In [ ]:
user_keywords=['烏克蘭','國防部']
text = '武漢烏克蘭疫情全球延燒，國防部2月針對29個疫情高風險國家地區勸阻官兵前往（包括過境）。'
[(word in text) for word in user_keywords]

[True, True]

In [ ]:
user_keywords=['烏克蘭','國防部']
text = '武漢烏克蘭疫情全球延燒，國防部2月針對29個疫情高風險國家地區勸阻官兵前往（包括過境）。'
[word in text for word in user_keywords] # () can be removed

[True, True]

In [ ]:
user_keywords=['烏克蘭','國防部']
text = '武漢烏克蘭疫情全球延燒，國防部2月針對29個疫情高風險國家地區勸阻官兵前往（包括過境）。'
all([word in text for word in user_keywords])

True

In [ ]:
user_keywords=['烏克蘭','國防部']
text = '武漢烏克蘭疫情全球延燒，國防部2月針對29個疫情高風險國家地區勸阻官兵前往（包括過境）。'
all(word in text for word in user_keywords) # square brackets [] can be removed

True

In [ ]:
# Check out the first news
user_keywords = ['烏克蘭','外交部']
text = df.content[0]
print([(qk in text) for qk in user_keywords])
all((qk in text) for qk in user_keywords)

[True, True]

True

In [ ]:
user_keywords = ['烏克蘭','外交部']
text = df.content[0]
any((qk in text) for qk in user_keywords)

True

In [ ]:
user_keywords = ['烏克蘭','台灣']
text = df.content[0]
[(qk in text) for qk in user_keywords]

[True, False]

In [ ]:
user_keywords = ['烏克蘭','台灣']
text = df.content[0]
all((qk in text) for qk in user_keywords)

False

In [ ]:
user_keywords = ['烏克蘭','台灣']
text = df.content[0]
any((qk in text) for qk in user_keywords)

True

## Using apply() and lambda function

How to check out keyword occurency for every news?

In [ ]:
# Use apply() and lambda function
user_keywords = ['烏克蘭','外交部']
df.content.apply(lambda text: all([(qk in text) for qk in user_keywords]))

0       True
1      False
2      False
3      False
4      False
       ...
208    False
209    False
210    False
211    False
212    False
Name: content, Length: 213, dtype: bool

In [ ]:
user_keywords = ['烏克蘭','外交部']

In [ ]:
[qk for qk in user_keywords]

['烏克蘭', '外交部']

In [ ]:
[(qk in text) for qk in user_keywords]

[True, True]

In [ ]:
# 
all([(qk in text) for qk in user_keywords])

True

In [ ]:
# Square brackets can be removed
all((qk in text) for qk in user_keywords)

True

In [ ]:
len(df[df.tokens_v2.apply(lambda text: all([word in text for word in user_keyword]))])

7

### lambda: how does it work?
lambda is a function with only one line

In [ ]:
func = lambda x: x+5

In [ ]:
func(2)

7

In [ ]:
numbers=[1,2,3]

In [ ]:
[func(x) for x in numbers]

[6, 7, 8]

In [ ]:
numbers=[1,2,3]
list(map(func, numbers))

[6, 7, 8]

In [ ]:
numbers=[1,2,3]
list(map(lambda x: x+5, numbers))

[6, 7, 8]

### How to use pandas apply()?

In [ ]:
df_test = pd.DataFrame([1,2,3], columns=['number'])

In [ ]:
df_test

   number
0       1
1       2
2       3

In [ ]:
df_test.number.apply(lambda x: x+5) # add 5 for each element in df_test.number

0    6
1    7
2    8
Name: number, dtype: int64

# Function of fitering news

Put them all togather!

In [ ]:
def filter_dataFrame(user_keywords, cond, cate, weeks):

    # end date: the date of the latest record of news
    end_date = df.date.max()
    
    # start date
    start_date = (datetime.strptime(end_date, '%Y-%m-%d').date() - timedelta(weeks=weeks)).strftime('%Y-%m-%d')

    # proceed filtering
    if (cate == "全部") & (cond == 'and'):
        query_df = df[(df.date >= start_date) & (df.date <= end_date) 
            & df.tokens_v2.apply(lambda text: all((qk in text) for qk in user_keywords))]
    elif (cate == "全部") & (cond == 'or'):
        query_df = df[(df['date'] >= start_date) & (df['date'] <= end_date) 
            & df.tokens_v2.apply(lambda text: any((qk in text) for qk in user_keywords))]
    elif (cond == 'and'):
        query_df = df[(df.category == cate) 
            & (df.date >= start_date) & (df.date <= end_date) 
            & df.tokens_v2.apply(lambda text: all((qk in text) for qk in user_keywords))]
    elif (cond == 'or'):
        query_df = df[(df.category == cate) 
            & (df['date'] >= start_date) & (df['date'] <= end_date) 
            & df.tokens_v2.apply(lambda text: any((qk in text) for qk in user_keywords))]
    return query_df

### For "politics" category 政治類

In [ ]:
user_keywords=['烏克蘭','台灣']
cond='and'
cate='政治'
weeks=2
df_query = filter_dataFrame(user_keywords, cond, cate, weeks)

In [ ]:
# end date: the date of the latest record of news
end_date = df.date.max()

# start date
start_date = (datetime.strptime(end_date, '%Y-%m-%d').date() - timedelta(weeks=weeks)).strftime('%Y-%m-%d')

In [ ]:
user_keywords=['烏克蘭','台灣']
cond='and'
cate='政治'
weeks=2

In [ ]:
query_df = df[(
    df.category == cate)   # category
    & (df.date >= start_date) & (df.date <= end_date) # duration
    & df.tokens_v2.apply(lambda row: all((qk in row) for qk in user_keywords)) # user keywords
    ]
len(query_df)

2

### For "全部""All" category

In [ ]:
user_keywords=['烏克蘭','台灣']
cond='and'
cate='全部'
weeks=2

In [ ]:
if (cate == "全部") & (cond == 'and'):
    query_df = df[
        (df.date >= start_date) & (df.date <= end_date) 
        & df.tokens_v2.apply(lambda row: all((qk in row) for qk in user_keywords))
        ]
elif (cate == "全部") & (cond == 'or'):
    query_df = df[
        (df['date'] >= start_date) & (df['date'] <= end_date) 
        & df.tokens_v2.apply(lambda row: any((qk in row) for qk in user_keywords))]

In [ ]:
len(query_df)

7

# Function of count_keyword() to calculate frequency and occurence

In [ ]:
# For the query_df, count the occurence and frequency for each category.

# (1) cate_occurence={}  被多少篇新聞報導
# (2) cate_freq={}       被提到多少次?How many times were the keywords mentioned


news_categories = ['政治', '科技', '運動', '證卷', '產經', '娛樂', '生活', '國際', '社會', '文化', '兩岸', '全部']

def count_keyword(query_df, user_keywords):
    cate_occurence={}
    cate_freq={}

    for cate in news_categories:
        cate_occurence[cate]=0
        cate_freq[cate]=0

    for idx, row in query_df.iterrows():
        # count number of news
        cate_occurence[row.category] += 1 # add 1 to its category's occurence
        cate_occurence['全部'] += 1
        
        # count user keyword frequency by checking every word in tokens_v2
        tokens = eval(row.tokens_v2) # count frequency
        freq =  len([word for word in tokens if (word in user_keywords)]) # how manay times?
        cate_freq[row.category] += freq
        cate_freq['全部'] += freq
        
    return cate_freq, cate_occurence

In [ ]:

user_keywords=['烏克蘭','台灣']
count_keyword(df_query, user_keywords)

({'政治': 14,
  '科技': 0,
  '運動': 0,
  '證卷': 0,
  '產經': 0,
  '娛樂': 0,
  '生活': 0,
  '國際': 0,
  '社會': 0,
  '文化': 0,
  '兩岸': 0,
  '全部': 14},
 {'政治': 2,
  '科技': 0,
  '運動': 0,
  '證卷': 0,
  '產經': 0,
  '娛樂': 0,
  '生活': 0,
  '國際': 0,
  '社會': 0,
  '文化': 0,
  '兩岸': 0,
  '全部': 2})

## Show these codes step by step by yourself

In [ ]:
user_keywords=['烏克蘭','外交部']
cond='and'
cate='全部'
weeks=2
df_query = filter_dataFrame(user_keywords, cond, cate, weeks)

# count user keyword frequency by checking every word in tokens_v2
tokens = eval(df_query.tokens_v2[0]) # count frequency
freq =  len([word for word in tokens if (word in user_keywords)]) # how manay times?

In [ ]:
tokens

['民眾',
 '烏克蘭',
 '愛心',
 '物資',
 '外交部',
 '收到',
 '外交部長',
 '吳釗燮',
 '現場',
 '協助',
 '整理',
 '物資',
 '志工',
 '加油',
 '民眾',
 '表達',
 '外交部',
 '發布',
 '新聞稿',
 '外交部',
 '民間',
 '募集',
 '烏克蘭',
 '難民',
 '物資',
 '響應',
 '外交部',
 '物資',
 '民眾',
 '包裹',
 '收到',
 '物資',
 '品項',
 '醫療',
 '口罩',
 '毛毯',
 '女性',
 '衛生',
 '用品',
 '尿片',
 '餅乾',
 '募集',
 '活動',
 '外交部',
 '民眾',
 '現場',
 '分類',
 '整理',
 '志工',
 '外交部',
 '人員',
 '吳釗燮',
 '外交部',
 '地下',
 '停車場',
 '吳釗燮',
 '在場',
 '慈濟',
 '民間',
 '組織',
 '志工',
 '自發',
 '到場',
 '幫忙',
 '善心',
 '人士',
 '互動',
 '烏克蘭',
 '人士',
 '義工',
 '現場',
 '協助',
 '吳釗燮',
 '致意',
 '慰問',
 '外交部',
 '照片',
 '到場',
 '幫忙',
 '烏克蘭',
 '志工',
 '家鄉',
 '情勢',
 '網紅佳娜',
 '外交部',
 '物資',
 '民眾',
 '物品',
 '外交部',
 '網站',
 '清單',
 '物品',
 '衣物',
 '外交部',
 '物品',
 '物品',
 '拆封',
 '包裝',
 '有效期',
 '整理',
 '轉運',
 '困擾',
 '時間',
 '民眾',
 '清單',
 '藥品',
 '外交部',
 '外交部',
 '民眾',
 '援助',
 '烏克蘭',
 '人道',
 '物資',
 '志工',
 '幫忙',
 '貢獻',
 '外交部',
 '各界',
 '人士',
 '時間',
 '精神',
 '投入',
 '國際',
 '人道',
 '援助',
 '表達',
 '敬意']

In [ ]:
freq

19

## Now we can conveniently call those functions

In [ ]:
user_keywords=['烏克蘭','台灣']
cond='or'
cate='全部'
weeks=2
df_query = filter_dataFrame(user_keywords, cond, cate, weeks)

In [ ]:
len(df_query)

91

In [ ]:
count_keyword(df_query, user_keywords)

({'政治': 50,
  '科技': 37,
  '運動': 14,
  '證卷': 27,
  '產經': 34,
  '娛樂': 16,
  '生活': 7,
  '國際': 32,
  '社會': 8,
  '文化': 51,
  '兩岸': 11,
  '全部': 287},
 {'政治': 10,
  '科技': 11,
  '運動': 10,
  '證卷': 7,
  '產經': 9,
  '娛樂': 8,
  '生活': 5,
  '國際': 9,
  '社會': 5,
  '文化': 14,
  '兩岸': 3,
  '全部': 91})

In [ ]:
user_keywords=['烏克蘭','台灣']
cond='and'
cate='政治'
weeks=2
df_query = filter_dataFrame(user_keywords, cond, cate, weeks)

In [ ]:
len(df_query)

2

In [ ]:
count_keyword(df_query, user_keyword)

({'政治': 14,
  '科技': 0,
  '運動': 0,
  '證卷': 0,
  '產經': 0,
  '娛樂': 0,
  '生活': 0,
  '國際': 0,
  '社會': 0,
  '文化': 0,
  '兩岸': 0,
  '全部': 14},
 {'政治': 2,
  '科技': 0,
  '運動': 0,
  '證卷': 0,
  '產經': 0,
  '娛樂': 0,
  '生活': 0,
  '國際': 0,
  '社會': 0,
  '文化': 0,
  '兩岸': 0,
  '全部': 2})

## Usage of apply, map (For reference)

In [ ]:
# apply usage
import pandas as pd

sample_df = pd.DataFrame({
    'Col 1': [3,4,5,6],
    'Col 2': [2,3,6,4],
    'Col 3': [8,8,9,8],

},index=["A","B","C","D"])
sample_df

   Col 1  Col 2  Col 3
A      3      2      8
B      4      3      8
C      5      6      9
D      6      4      8

In [ ]:
sample_df=sample_df.apply(lambda x: x+10)
sample_df

   Col 1  Col 2  Col 3
A     13     12     18
B     14     13     18
C     15     16     19
D     16     14     18

In [ ]:
sample_df["Col 1"]=sample_df["Col 1"].apply(lambda x: x-10)
sample_df

   Col 1  Col 2  Col 3
A      3     12     18
B      4     13     18
C      5     16     19
D      6     14     18

## Example

In [ ]:
df_sample = pd.read_csv('./cna_news_preprocessed_time_format.csv',sep='|')

In [ ]:
df_sample.date.apply(lambda date: datetime.strptime(date,'%Y/%m/%d %H:%M').strftime('%Y-%m-%d'))

0      2022-03-14
1      2022-03-14
2      2022-03-14
3      2022-03-14
4      2022-03-14
          ...
208    2022-03-14
209    2022-03-14
210    2022-03-14
211    2022-03-14
212    2022-03-13
Name: date, Length: 213, dtype: object

In [ ]:
def conve_date_time_format(date):
    return datetime.strptime(date,'%Y/%m/%d %H:%M').strftime('%Y-%m-%d')

In [ ]:
df_sample.date.apply(conve_date_time_format)

0      2022-03-14
1      2022-03-14
2      2022-03-14
3      2022-03-14
4      2022-03-14
          ...
208    2022-03-14
209    2022-03-14
210    2022-03-14
211    2022-03-14
212    2022-03-13
Name: date, Length: 213, dtype: object

In [ ]:
df_sample.date.map(conve_date_time_format)

0      2022-03-14
1      2022-03-14
2      2022-03-14
3      2022-03-14
4      2022-03-14
          ...
208    2022-03-14
209    2022-03-14
210    2022-03-14
211    2022-03-14
212    2022-03-13
Name: date, Length: 213, dtype: object