In [1]:
import pandas as pd
import sqlalchemy

In [2]:
conn= sqlalchemy.create_engine('sqlite:///nownewsdata.sqlite3.db')

In [3]:
from datetime import datetime

In [4]:
def get_duration_date(week=7):
    # What date is the last day?
    # end date: the date of the last record of news
    end_date = conn.execute("SELECT MAX(date) FROM now_news").fetchall()[0][0]
    weeks=7
    start_date_delta = (datetime.strptime(end_date, '%Y-%m-%d').date() - timedelta(weeks=weeks)).strftime('%Y-%m-%d')
    start_date_min = conn.execute("SELECT Min(date) FROM now_news").fetchall()[0][0]
    # set start_date as the larger one from the start_date_delta and start_date_min 開始時間選資料最早時間與周數:兩者較晚者
    start_date = max(start_date_delta,   start_date_min)
    # A time period of 4 weeks 
    #  "select * from cna_news where date > '2020-02-12' AND date <= '2020-02-17'; "
    # statement = "select * from cna_news where date > '{}' AND date <= '{}'".format(start_date, end_date)

    return start_date, end_date

In [5]:
df_query = get_duration_date(weeks)
len(df_query)

NameError: name 'weeks' is not defined